h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium';
}
.jumbotron p {
  text-align: center;
}
h3 {
  text-align: center;
}
.package {
  border: 4px solid black;
  margin: 4%;
}

.price {
  text-align: center;
}

.packageImage {
  border-radius: 50%;
  width: 100%;
}

#lastImage {
  height: 20%;
}